version: "3.7"

services:
  mongodb:
    image: mongo:6.0-focal
    container_name: mongodb
    ports:
      - 27017:27017
    volumes:
      - /opt/{{ CI_PROJECT_NAME }}/data:/data/db

  {{ CI_PROJECT_NAME }}:
    image: {{ CI_IMAGE }}
    container_name: {{ CI_PROJECT_NAME }}
    command: yarn start-prod
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.backend.entrypoints=websecure"
      - "traefik.http.routers.backend.rule=Host(`github-issue-tracker-api.{{ PROD_DOMAIN }}`)"
      - "traefik.http.routers.backend.service=backend"
      - "traefik.http.services.backend.loadbalancer.server.port=49777"
    ports:
      - 49777:49777
    environment:
      PORT: 49777
      GITHUB_AUTH_TOKEN: {{ GITHUB_AUTH_TOKEN }}
      MONGODB_URI: mongodb://mongodb:27017/main
    restart: always
  
  traefik:
    container_name: traefik
    image: traefik:v2.9
    command:
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --certificatesresolvers.letsencrypt.acme.httpchallenge=true
      - --certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web
      - --certificatesresolvers.letsencrypt.acme.email=info@{{ PROD_DOMAIN }}
      - --certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json
      - --entrypoints.web.address=:80
      - --entrypoints.web.http.redirections.entrypoint.to=websecure
      - --entrypoints.web.http.redirections.entrypoint.scheme=https
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls=true
      - --entrypoints.websecure.http.tls.certResolver=letsencrypt
    ports:
      - 80:80
      - 443:443
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./certs:/letsencrypt
    restart: always